<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleExecutable</key>
		<string>gitg</string>
		<key>CFBundleName</key>
		<string>gitg</string>
		<key>CFBundleIconFile</key>
		<string>gitg.icns</string>
		<key>CFBundleIdentifier</key>
		<string>org.gnome.gitg</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>CFBundleShortVersionString</string>
		<key>CFBundleSignature</key>
		<string>gitg</string>
		<key>CFBundleVersion</key>
		<string>CFBundleVersion</string>
		<key>LSApplicationCategoryType</key>
		<string>public.app-category.developer-tools</string>
		<key>LSMinimumSystemVersion</key>
		<string>LSMinimumSystemVersion</string>
		<key>NSDesktopFolderUsageDescription</key>
		<string>gitg needs your permission to access the Desktop folder.</string>
		<key>NSDocumentsFolderUsageDescription</key>
		<string>gitg needs your permission to access the Documents folder.</string>
		<key>NSDownloadsFolderUsageDescription</key>
		<string>gitg needs your permission to access the Downloads folder.</string>
		<key>NSRemoveableVolumesUsageDescription</key>
		<string>gitg needs your permission to access removable volumes.</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>NSHumanReadableCopyright</key>
		<string>TODO add copyright</string>
		<key>NSRequiresAquaSystemAppearance</key>
		<false/>
	</dict>
</plist>
